/* ----------------------------------

Name: main.css
Version: 1.0

-------------------------------------

Table of contents
        
    01. Navbar
    02. Slider
    03. About us
    04. Services
    05. Some Facts
    06. Portfolio
    07. Testimonials
    08. Blog
    09. Contact
    10. Footer
*/

body {
    font-family: 'Muli', sans-serif;
     

}

/* ==========================
   [01]. Navbar
========================== */
.navbar.header-top .contact-info>ul>li {
    color: #F28C28;
    display: inline-block;
    margin-right: 18px;
    padding-right: 18px;
    border-right: 1px solid #687693;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
}

.navbar .header-top .contact-info>ul>li:last-child {
    margin-right: 0px;
}

.navbar .header-top .contact-info>ul>li i {
    margin-right: 8px;
}

.navbar .header-top .contact-info .header-social>ul>li {
    display: inline-block;
}

.navbar .header-top .contact-info .header-social>ul>li>a {
    color: #ffffff;
    font-size: 20px;
    padding-left: 25px;
}

.navbar .header-top .contact-info .header-social>ul>li>a>i {
    transition: 0.4s;

}

.navbar .header-top .contact-info .header-social>ul>li>a:hover i {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.navbar .header-top .contact-info .header-social>ul>li>a:hover {
    color: #000080;
}

.navbar {
    padding-bottom: 20px;
    height: 15vh;
    background-image: linear-gradient(to bottom, #ec7b25, #ee881e, #ef9515, #efa30c, #eeb004, #efb312, #efb61c, #f0b924, #f2b232, #f2ac3d, #f2a647, #f0a150);
}


.navbar .nav-item {
    font-size: 17px;
    font-weight: 600;
    margin: 0 20px;
}

.navbar .nav-item .nav-link {
    color: #ffffff;
    transition: transform .2s;
}

.navbar .nav-item .active {
    color: #000080;
    font-size: 19px;


}

.navbar .nav-item .nav-link:hover {
    color: #000080;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* ==========================
   [02]. Slider
========================== */
.slider {
    background: url('../img/slider_bg.PNG') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 15vh);
    padding: 70px;
    margin-top: 120px;

}

.animated-headlines .cd-headline span {
    font-size: 56px;
    font-family: 'Brush Script MT', cursive !important;
    font-weight: 300;
    text-transform: capitalize;
    color: #ffffff;
}


.slider .left-content .hello {
    font-size: 80px;
    font-weight: 300;
    font-family: 'Brush Script MT', cursive;
    color: #000080;
    margin: 0;
    padding: 0;
}

.slider .left-content .bpn-name {
    font-size: 35px;
    font-weight: 300;
    color: black;
    margin: 0;
    padding: 0;
}
 

.slider .left-content .btn {
    border: none;
    background: #000080;
    border-radius: 35px;
    padding: 12px 44px;
    font-size: 17px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 10px;
    text-decoration: none;
    z-index: 200;
}


/* ==========================
   [04]. Services
========================== */
.services {
    padding-bottom: 90px;
    background: #cfecf7;
}

.services h2 {
    font-size: 30px;
    font-weight: 800;
    color: #000080;
    margin-bottom: 60px;
    padding: 10px;
}

.services .box {
    padding: 40px;
    margin-bottom: 30px;
    background-image: linear-gradient(to bottom, #ec7b25, #ee881e, #ef9515, #efa30c, #eeb004, #efb312, #efb61c, #f0b924, #f2b232, #f2ac3d, #f2a647, #f0a150);
    color: #ffffff;
    transition: transform .2s;
}

.services .box:hover {
    padding: 40px;
    margin-bottom: 30px;
    background: #F0A150;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

}

.services .box span {
    font-size: 30px;
    color: #000080;
    padding: 8px;
}



.services .box p {
    font-size: 14px;
    color: #000080;
    font-weight: 600;
    line-height: 26px;
    padding: 0;
    margin: 0;
}




/* ==========================
   [05]. Some Facts
========================== */

.some-facts {
    padding: 130px 0;
    color: #ffffff;
    background-image: linear-gradient(to bottom, #ec7b25, #ee881e, #ef9515, #efa30c, #eeb004, #efb312, #efb61c, #f0b924, #f2b232, #f2ac3d, #f2a647, #f0a150);
    font-weight: 700;
}

.some-facts .items span {
    font-size: 30px;
    color: #000080;
    margin: 0;
    padding: 0;
}

.some-facts .items h3 {
    font-size: 40px;
    font-weight: 800;
    color: #ffffff !important;
    margin: 0;
    padding: 0;
    margin: 10px 0;
}

.some-facts .items h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

/* ==========================
   [09]. Contact
========================== */

.slider .text-center {
    font-size: 30px;
    font-weight: 800;
    color: #000080;
    margin-bottom: 60px;
}

.slider .form-control {
    padding: 25px;
    font-size: 13px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.slider button.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background: #e0a80d;
    color: #000080;
}

.slider .info {
    padding-left: 40px;
}

.slider .info span {
    font-size: 20px;
    color: #e0a80d;
}

.slider .info p {
    font-size: 14px;
    margin: 10px 0 20px 0;
    color: #000080;
}


/* ==========================
   [10]. Footer
========================== */
.footer-section .footer-top {
    padding: 40px 0;
    background: #ffffff;
}

.footer .social-icons span {
    color: #e0a80d;
    padding: 0 5px;
}
.footer-section h3{
    color: #000080;
    font-weight: 600;
}

.footer-section p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    margin-top: 15px;
}
.footer-section .footer-bottom{
    background: #cfecf7;
}


/* ==========================
   [11]. Media
========================== */
/*Small devices (landscape phones, 576px and up) */
@media (max-width: 575.99px) {

    /* Slider*/
    .slider {
        height: 120vh;
        margin-top: 20px;
        padding: 0;
    }

    .slider img {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;

    }


    .navbar {
        padding: 20px;
    }

    .navbar .nav-item .nav-link {
        color: #000080;
        transition: transform .2s;
    }

    .animated-headlines .cd-headline span {
        font-size: 30px;
    }

    /* About Me */
    .about-me {
        padding: 130px 25px;
    }

    .about-me img {
        margin-bottom: 30px;
    }

    .about-me .btn-1 {
        margin-bottom: 30px;
    }

    .some-facts .items h4 {
        margin-bottom: 30px;
    }

    .blog .box {
        margin-bottom: 30px;
    }

    .contact .info {
        padding: 0;
        text-align: center;
        margin-top: 40px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /* Slider*/
    .slider {
        height: 120vh;
        margin-top: 10px
    }

    .slider .left-content {
        padding: 0;
        margin: 0;
    }

    .animated-headlines .cd-headline span {
        font-size: 30px;
    }

    /* About Me */
    .about-me img {
        padding: 0;
        margin-bottom: 30px;
    }

    .some-facts .items h4 {
        margin-bottom: 30px;
    }

    .blog .box {
        margin-bottom: 30px;
    }

    .contact .info {
        padding: 0;
        text-align: center;
        margin-top: 40px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .animated-headlines .cd-headline span {
        font-size: 30px;
    }

    .slider .left-content {
        padding: 140px 0;
    }

    .some-facts .items h4 {
        margin-bottom: 30px;
    }

    .blog .box {
        margin-bottom: 30px;
    }

    .blog {
        padding-bottom: 90px;
    }

    .about-me img {
        display: none;
    }
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}