/* ----------------------------------

Name: main.css
Version: 1.0

-------------------------------------

Table of contents
        
    01. Navbar
    02. Slider
    03. About us
    04. Services
    05. Some Facts
    06. Portfolio
    07. Testimonials
    08. Blog
    09. Contact
    10. Footer
*/

body {
    font-family: 'Muli', sans-serif;


}

/* ==========================
   [01]. Navbar
========================== */
*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
}

.nav {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to bottom, #ec7b25, #ee881e, #ef9515, #efa30c, #eeb004, #efb312, #efb61c, #f0b924, #f2b232, #f2ac3d, #f2a647, #f0a150);
    position: relative;
}

.nav>.nav-links {
    font-size: 18px;
    display: inline;
    float: right;

}

.nav>.nav-btn {
    display: none;
    /*Hide toggle button for desktop*/
}

.nav>#nav-check {
    display: none;
}

.nav>.nav-links>ul li a {
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    display: block;
    padding: 0 8px;
    text-decoration: none;

}

.nav>.nav-links>ul {
    list-style: none;
    position: relative;
    padding: 5px;
    margin-top: 30px;

}

.nav>.nav-links>ul li {
    display: inline-block;
    transition: transform .2s;



}

.nav>.nav-links>ul li:hover {
    color: #000080;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.nav .nav-links ul a.icon {
    margin-left: 80px;
    margin-right: 10px;
}

.nav .nav-links ul a i {
    padding: 7px;
    margin-left: 5px;
    background-color: #cfecf7;
    border-radius: 50px;

}

@media (max-width:750px) {

    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        padding: 13px;
        display: inline-block;
        width: 55px;

    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: #000;
        margin: 10px;
    }

    .nav>.nav-btn>label>span {
        height: 10px;
        border-top: 3px solid #eee;
        display: block;
        width: 30px;

    }

    .nav>.nav-links {
        position: absolute;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 120px;
        display: block;
        width: 100%;
        background-color: #cfecf7;
        left: 0px;
    }

    .nav>.nav-links>ul li a {
        display: block;
        width: 100%;
    }

    /*   */



    .nav>.nav-links>ul li {
        padding: 0;
        background-color: #cfecf7;
        display: block;
        margin-bottom: 20px;

    }

    .nav>.nav-links>ul li a {
        margin-left: 40%;
    }

    .nav .nav-links ul a.icon {
        margin-left: 33%;
    }

    /*   */
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 120px);
        overflow-y: auto;
    }
}

/* ==========================
   [02]. Slider
========================== */
.slider {
    background: url('../img/slider_bg.PNG') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 100px);
    padding: 45px;
    margin-top: 0px;

}

.animated-headlines .cd-headline span {
    font-size: 56px;
    font-family: 'Brush Script MT', cursive !important;
    font-weight: 300;
    text-transform: capitalize;
    color: #ffffff;
}


.slider .left-content .hello {
    font-size: 80px;
    font-weight: 300;
    font-family: 'Brush Script MT', cursive;
    color: #000080;
    margin: 0;
    padding: 0;
}

.slider .left-content .bpn-name {
    font-size: 35px;
    font-weight: 300;
    color: black;
    margin: 0;
    padding: 0;
}


.slider .left-content .btn {
    border: none;
    background: #000080;
    border-radius: 35px;
    padding: 12px 44px;
    font-size: 17px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 10px;
    text-decoration: none;
    z-index: 200;
}
@media (max-width:750px){
    .slider{
        margin: 0px;
    }
}


/* ==========================
   [04]. Services
========================== */
.services {
    padding-bottom: 90px;
    background: #cfecf7;
}

.services h2 {
    font-size: 30px;
    font-weight: 800;
    color: #000080;
    margin-bottom: 60px;
    padding: 10px;
}

.services .box {
    padding: 40px;
    margin-bottom: 30px;
    background-image: linear-gradient(to bottom, #ec7b25, #ee881e, #ef9515, #efa30c, #eeb004, #efb312, #efb61c, #f0b924, #f2b232, #f2ac3d, #f2a647, #f0a150);
    color: #ffffff;
    transition: transform .2s;
}

.services .box:hover {
    padding: 40px;
    margin-bottom: 30px;
    background: #F0A150;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

}

.services .box span {
    font-size: 30px;
    color: #000080;
    padding: 8px;
}



.services .box p {
    font-size: 14px;
    color: #000080;
    font-weight: 600;
    line-height: 26px;
    padding: 0;
    margin: 0;
}




/* ==========================
   [05]. Some Facts
========================== */

.some-facts {
    padding: 130px 0;
    color: #ffffff;
    background-image: linear-gradient(to bottom, #ec7b25, #ee881e, #ef9515, #efa30c, #eeb004, #efb312, #efb61c, #f0b924, #f2b232, #f2ac3d, #f2a647, #f0a150);
    font-weight: 700;
}

.some-facts .items span {
    font-size: 30px;
    color: #000080;
    margin: 0;
    padding: 0;
}

.some-facts .items h3 {
    font-size: 40px;
    font-weight: 800;
    color: #ffffff !important;
    margin: 0;
    padding: 0;
    margin: 10px 0;
}

.some-facts .items h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

/* ==========================
   [09]. Contact
========================== */

.slider .text-center {
    font-size: 30px;
    font-weight: 800;
    color: #000080;
    margin-bottom: 60px;
}

.slider .form-control {
    padding: 25px;
    font-size: 13px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.slider button.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background: #e0a80d;
    color: #000080;
}

.slider .info {
    padding-left: 40px;
}

.slider .info span {
    font-size: 20px;
    color: #e0a80d;
}

.slider .info p {
    font-size: 14px;
    margin: 10px 0 20px 0;
    color: #000080;
}


/* ==========================
   [10]. Footer
========================== */
.footer-section .footer-top {
    padding: 40px 0;
    background: #ffffff;
}

.footer .social-icons span {
    color: #e0a80d;
    padding: 0 5px;
}

.footer-section h3 {
    color: #000080;
    font-weight: 600;
}

.footer-section p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    margin-top: 15px;
}

.footer-section .footer-bottom {
    background: #cfecf7;
}


/* ==========================
   [11]. Media
========================== */
/*Small devices (landscape phones, 576px and up) */
@media (max-width: 575.99px) {

    /* Slider*/
    .slider {
        height: 120vh;
        margin-top: 20px;
        padding: 0;
    }

    .slider img {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;

    }


    .navbar {
        padding: 20px;
    }

    .navbar .nav-item .nav-link {
        color: #000080;
        transition: transform .2s;
    }

    .animated-headlines .cd-headline span {
        font-size: 30px;
    }

    /* About Me */
    .about-me {
        padding: 130px 25px;
    }

    .about-me img {
        margin-bottom: 30px;
    }

    .about-me .btn-1 {
        margin-bottom: 30px;
    }

    .some-facts .items h4 {
        margin-bottom: 30px;
    }

    .blog .box {
        margin-bottom: 30px;
    }

    .contact .info {
        padding: 0;
        text-align: center;
        margin-top: 40px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /* Slider*/
    .slider {
        height: 120vh;
        margin-top: 10px
    }

    .slider .left-content {
        padding: 0;
        margin: 0;
    }

    .animated-headlines .cd-headline span {
        font-size: 30px;
    }

    /* About Me */
    .about-me img {
        padding: 0;
        margin-bottom: 30px;
    }

    .some-facts .items h4 {
        margin-bottom: 30px;
    }

    .blog .box {
        margin-bottom: 30px;
    }

    .contact .info {
        padding: 0;
        text-align: center;
        margin-top: 40px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .animated-headlines .cd-headline span {
        font-size: 30px;
    }

    .slider .left-content {
        padding: 140px 0;
    }

    .some-facts .items h4 {
        margin-bottom: 30px;
    }

    .blog .box {
        margin-bottom: 30px;
    }

    .blog {
        padding-bottom: 90px;
    }

    .about-me img {
        display: none;
    }
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}